@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
}

body {
  @apply text-sm text-white antialiased;
  background-color: #190029;
}

@layer components {
  .glass {
    @apply border border-white/20 bg-white/10;
  }

  .btn {
    @apply cursor-pointer rounded-full px-8 py-2.5 font-medium text-white transition hover:opacity-90 active:scale-98;
  }
}
