@import "tailwindcss";

@theme {
    --font-sans: 'Poppins', sans-serif;
}

body {
    @apply text-white text-sm antialiased;
    background-color: #190029;
}

@layer components {
    .glass {
        @apply bg-white/10 border border-white/20;
    }

    .btn {
        @apply cursor-pointer rounded-full px-8 py-2.5 font-medium text-white transition hover:opacity-90 active:scale-98;
    }
}
